@import '../../styles/helpers';

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    transition: all 0.2s ease-in-out;

    &:disabled{
        background: var(--color-grayscale100);
        color: var(--color-grayscale300);
        cursor: not-allowed;
    }

    &.wide {
        width: 100%;
    }
}


.scale {
    &-s {
        height: 32px;
        padding: 0 24px;

        .leftIcon,
        .rightIcon {
            font-size: rem(14px);
        }

        svg {
            @include size(18px);
        }
    }
    &-m {
        height: 42px;
        padding: 0 32px;

        .leftIcon,
        .rightIcon {
            font-size: rem(18px);
        }

        svg {
            @include size(24px);
        }
    }
}

.variant {
    &-icon {
        &.scale {
            &-s {
                @include size(32px);
                padding: 0;
            }
            &-m {
                @include size(42px);
                padding: 0;
            }
        }  
    }
}

.color {
    &-primary {
        background: var(--color-primary200);
        color: var(--color-contrast-white);
        &:hover {
            background: var(--color-primary100);
            color: var(--color-primary200);
        }
    }
    &-secondary {
        background: var(--color-contrast-white);
        color: var(--color-primary200);
        &:hover {
            background: var(--color-primary200);
            color: var(--color-primary100);
        }
    }
}

.leftIcon,
.rightIcon {
    display: inline-flex;
    align-items: center;
}

.leftIcon {
    margin-right: 10px;
 
}

.rightIcon {
    margin-left: 10px;
}