@import '../../styles/helpers';

.textarea {
    @include size(100%);

    display: inline-flex;
    box-sizing: border-box;
    resize: vertical;
    font-family: var(--font-primary);
    padding: 16px;
    border: 2px solid var(--color-primary100);
    border-radius: 10px;
    outline: none;
    transition: all 0.2s ease-in-out;

    &:active,
    &:focus {
        border: 2px solid var(--color-primary200);
    }
}