@import './helpers';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: var(--font-primary);
    font-size: rem(14px);
    line-height: 1.2;
    color: var(--color-grayscale300);
    padding: 0;
    margin: 0;
}
