.actions{
    display: flex;
    padding: 16px 32px;
    gap: 16px;
}

.align {
    &-left {
        justify-content: flex-start;
    }
    &-right {
        justify-content: flex-end;
    }
    &-center {
        justify-content: center;
    }
    &-spaced {
        justify-content: space-between;
    }
}